<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a
    class="navbar-brand ml-2"
    style="text-align: right; font-size: 23px;"
    href=""
  >
  <img class="mr-1" src="../../assets/favicon-32x32.png" width="40" height="40" alt="MET"> MET</a
  >

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>

    <!--Admin Panel-->
    <li *ngIf="loggedIn()" class="dropdown mt-2" dropdown>
      <a *ngIf="checkRole('admin')" class="dropdown-toggle text-light" dropdownToggle>
        |&nbsp;Adminstrator
      </a>
      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['/adduser']"
          routerLinkActive="active"
          ><i class="fa fa-address-book mr-2"></i>Add User</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/users']"
          routerLinkActive="active"
          ><i class="fa fa-address-card mr-2"></i>List of User</a
        >
      </div>
    </li>

    <!--AMS Panel-->
    <li *ngIf="loggedIn()" class="dropdown mt-2" dropdown>
      <a *ngIf="checkRole('dev')"  class="dropdown-toggle text-light" dropdownToggle>
        |&nbsp;AMS Panel
      </a>
      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['/requests/status/new']"
          ><i class="fa fa-hourglass-half mr-2"></i>Effort Update</a>
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/requests/status/approval']"
          ><i class="fa fa-calendar mr-2"></i>Timelines Update</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/requests/status/release']"
          ><i class="fa fa-rocket mr-2"></i>Release Update</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/requests']"
          ><i class="fa fa-book mr-2"></i>List of All Requests</a
        >
      </div>
    </li>

    <!--IT Panel-->
    <li *ngIf="loggedIn()" class="dropdown mt-2" dropdown>
      <a *ngIf="checkRole('it')" class="dropdown-toggle text-light" dropdownToggle>
        |&nbsp;IT Team Panel
      </a>
      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['/requests/status/effort']"
          routerLinkActive="active"
          ><i class="fa fa-thumbs-o-up mr-2"></i>Effort Approvals</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/itdashboard']"
          routerLinkActive="active"
          ><i class="fa fa-tachometer mr-2"></i>IT Dashboard</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/requests/status/completed']"
          routerLinkActive="active"
          ><i class="fa fa-rocket mr-2"></i>Requests Deployed</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          [routerLink]="['/requests']"
          ><i class="fa fa-book mr-2"></i>List of All Requests</a
        >
      </div>
    </li>

    <!--UAT Panel-->
    <li *ngIf="loggedIn()"  class="nav-item" routerLinkActive="router-link-active">
      <a class="nav-link" *ngIf="checkRole('uat')" [routerLink]="['/requests/status/uat']"
      routerLinkActive="active" routerLinkActive="active"
        >|&nbsp;&nbsp;Your Requests</a>
    </li> 

    <!--Requester link-->
    <li *ngIf="loggedIn()"  class="nav-item" routerLinkActive="router-link-active">
      <a class="nav-link" *ngIf="checkRole('requester')"   (click)="requestbyUser()" routerLinkActive="active"
        >|&nbsp;&nbsp;Your Requests</a>
    </li>

    <li *ngIf="loggedIn()"  class="nav-item" routerLinkActive="router-link-active">
     <a class="nav-link" *ngIf="!checkRole('uat')"  [routerLink]="['/newrequest']"
      routerLinkActive="active"
        >|&nbsp;&nbsp;Add Request</a>
    </li>

    <li class="nav-item" routerLinkActive="router-link-active">
      <a class="nav-link"  routerLinkActive="active"
        >|&nbsp;&nbsp;About</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{ authservices.decodedToken?.unique_name | titlecase }} | ({{authservices.decodedToken?.role | titlecase }})
    </a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" href="#"
        ><i class="fa fa-user"></i> Change Password</a
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="loggedOut()"
        ><i class="fa fa-sign-out"></i>Logout</a
      >
    </div>
  </div>

  <form
    *ngIf="!loggedIn()"
    #loginForm="ngForm"
    class="form-inline my-2 my-lg-0"
    (ngSubmit)="login()"
  >
    <input
      class="form-control mr-sm-2"
      type="text"
      name="username"
      placeholder="Username"
      required
      [(ngModel)]="model.username"
    />
    <input
      class="form-control mr-sm-2"
      type="password"
      name="password"
      placeholder="Password"
      required
      [(ngModel)]="model.password"
    />
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-success my-2 my-sm-0"
      type="submit"
    >
      Login
    </button>
  </form>
</nav>
