<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Add New Project Form
        </div>
        <div class="card-body text-dark">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0.8)"
            size="medium"
            color="#fff"
            type="ball-newton-cradle"
            [fullScreen]="true"
          >
          </ngx-spinner>
          <!--Card Body Starts-->
          <form #newProjectForm="ngForm" (ngSubmit)="newProjectForm.valid && addProject()">
            <!--Project Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="project">Project</label>
                <input
                type="text"
                class="form-control"
                name="projectName"
                [(ngModel)]="model.projectName"
                #projectId="ngModel"
                [ngClass]="{ 'is-invalid': newProjectForm.submitted && projectId.invalid }"
                required
              />
              <div
                  *ngIf="newProjectForm.submitted && projectId.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="newProjectForm.submitted && projectId.invalid">
                    Project is required
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success mt-2" type="submit" [disabled]="buttonDisable">Submit</button>
          </form>
          <!--Card Body Ends-->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>