<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-header bg-dark text-white">
          New Module Form
        </div>
        <div class="card-body text-dark">
          <!--Card Body Starts-->
          <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.8)"
          size="medium"
          color="#fff"
          type="ball-newton-cradle"
          [fullScreen]="true"
        >
        </ngx-spinner>
          <form #newModuleForm="ngForm" (ngSubmit)="newModuleForm.valid && addModule()">
            <!--Project & Module Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="project">Project</label>
                <select
                  class="custom-select"
                  name="project"
                  [(ngModel)]="model.projectId"
                  #projectId="ngModel"
                  [ngClass]="{ 'is-invalid': newModuleForm.submitted && projectId.invalid }"
                  required
                >
                  <option selected disabled value="">Select a Project</option>
                  <option *ngFor="let p of projects" value="{{ p.id }}">{{
                    p.projectName
                  }}</option>
                </select>
                <div
                  *ngIf="newModuleForm.submitted && projectId.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="newModuleForm.submitted && projectId.invalid">
                    Project is required
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 mb-2">
                <label for="module">Module</label>
                <input
                  type="text"
                  class="form-control"
                  name="moduleName"
                  #module="ngModel"
                  [(ngModel)]="model.moduleName"
                  [ngClass]="{ 'is-invalid': newModuleForm.submitted && module.invalid }"
                  required
                />
                <div
                  *ngIf="newModuleForm.submitted && module.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="newModuleForm.submitted && module.invalid">
                    Module Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row mt-3">
            <button
              type="button"
              [routerLink]="['/project']"
              class="btn btn-warning mr-3"
            >
              Back
            </button>
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
          </form>
          <!--Card Body Ends-->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
