<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-header">Minor Enhancement Tracker</div>
        <div class class="card-body">
          <h5 class="card-title">1.Introduction to MET</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            1.1 Background and Objective of this Application
          </h6>
          <p class="card-text">
            Currently NSDC IT team is tracking and monitoring the Monthly Minor
            Enhancements over mails and excel sheet. Also business is raising
            all the requests for enhancements through emails in different
            formats which not easy to track and manage. To overcome this
            situation and make the process more efficient and robust with a
            proper workflow of Request – Evaluate – Approval the NSDC IT team is
            now developing an application namely
            <strong>Minor Enhancement Tracking (MET) tool </strong>.
          </p>
          <h6 class="card-subtitle mb-2 text-muted">
            Stakeholders of the Portal
          </h6>
          <p>This tool has majorly 3 types of Stakeholders:</p>
          <ul>
            <li>
              <strong>Business Users / Requester</strong>: The Business users /
              Requesters will be the one who will raise a request on MET for a
              minor enhancements in any of the modules and will submit their
              detailed requirements for the enhancement as well through a UI
              interface on MET. Also the business user will get notification of
              deployment of the enhancement through MET.
            </li>
            <br />
            <li>
              <strong>Development Team</strong>: The Development team will be
              the one to evaluate the requirement and provide a tentative
              efforts for the same on MET. Also post approval of the final
              efforts the development team will be responsible for the
              development and deployment of the enhancement and uploading the
              Release Note with the date of moving this to production on MET.
            </li>
            <br />
            <li>
              <strong>UAT Team</strong>: The UAT team will be the one to do the
              Quality check of the development and provide confirmation that
              development is as per the requeierments in the request. Also post
              UAT the UAT team will mention the start date of UAT and sign off
              dates with Sign off mails. Post UAT the request will again go to
              development team for production movement.
            </li>
            <br />
            <li>
              <strong>IT Team:</strong>: The IT team will be reviewing the
              effort estimation provided by the development team and post
              discussion and negotiations the IT team with enter the final
              efforts estimation for an enhancement and will give the go ahead
              to the development team. IT team will be able to generate multiple
              reports such as below:
              <ul>
                <li>Overall Enhancement efforts</li>
                <li>
                  Overall Minor Enhancement Request Pendency count Status wise
                </li>
                <li>Monthly Total Minor Enhancement efforts & Request cout</li>
                <li>
                  Monthly Department wise Minor Enhancement efforts & Request
                  count
                </li>
                <li>
                  Monthly Module wise Minor Enhancement efforts & Request count
                </li>
                <li>Monthly Status wise Minor Enhancement Request Count</li>
              </ul>
            </li>
          </ul>
          <div class="card-footer text-muted">A NSDC IT Team Initiative</div>
        </div>
      </div>
    </div>
  </div>
</div>
