<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Change Password
        </div>
        <div class="card-body text-dark">
          <!--Card Body Starts-->
          <form #changePassForm="ngForm" (ngSubmit)="changepassword()">
            <div class="form-row">
              <div class="form-group col">
                <label>Password</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': password.invalid }" required minlength="6" maxlength="12">
                <div *ngIf="password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="password.errors.maxlength">Password must be less than 12 characters</div>
                </div>
              </div>
              <div class="form-group col">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" #confirmpassword="ngModel" [(ngModel)]="confirmPass" class="form-control" [ngClass]="{ 'is-invalid': password.value != confirmpassword.value}" required>
                <div *ngIf=" password.value != confirmpassword.value" class="invalid-feedback">
                    <div *ngIf="password.value != confirmpassword.value">Confirm Password is required</div>
                </div>
            </div>
            </div>
            <button
              class="btn btn-success mt-2"
              type="submit"
              [disabled]="!changePassForm.valid || password.value != confirmpassword.value"
            >
              Change Password
            </button>
          </form>
          <!--Card Body Ends-->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
