<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-newton-cradle"
      [fullScreen]="true"
    >
    </ngx-spinner>
    <!-- Users List-->
    <div class="col-12">
      <div class="col-1"></div>
      <div class="col-12">
        <h2 class="mt-2 mb-2">List of Users</h2>
        <div *ngFor="let user of Users" class="card mt-1">
          <div class="card-body">
            <div class="d-flex flex-row bd-highlight mb-1">
              <div class="p-2 bd-highlight">
                <strong>User Id &nbsp;</strong>{{ user.id }}
              </div>
              <div class="p-2 bd-highlight">
                <strong>UserName:</strong>&nbsp;{{ user.username }}
              </div>
              <div class="p-2 bd-highlight">
                <strong>Status:</strong>&nbsp;<span
                  class="badge badge-pill badge-success"
                  *ngIf="user.status == 1"
                  >Active</span
                >
                <span
                  *ngIf="user.status == 0"
                  class="badge badge-pill badge-warning"
                >
                  Inactive
                </span>
              </div>
              <div class="p-2 bd-highlight">
                <strong>Email ID:</strong>&nbsp;{{ user.emailId }}
              </div>
              <div class="p-2 bd-highlight">
                <strong>Department:</strong>&nbsp;{{
                  user.department | titlecase
                }}
              </div>
            </div>
            <div class="d-flex flex-row bd-highlight mb-1">
              <div class="p-2 bd-highlight">
                <strong>Role:</strong>&nbsp;{{ user.role | titlecase }}
              </div>

              <div class="d-flex flex-row bd-highlight mb-1">
                <div class="p-2 bd-highlight">
                  <strong>Created On:</strong>&nbsp;{{
                    user.createdOn | date: "mediumDate"
                  }}
                </div>
              </div>
              <div class="d-flex flex-row bd-highlight mb-1">
                <div class="p-2 bd-highlight">
                  <strong>Last Active:</strong>&nbsp;{{
                    user.lastActive | date: "mediumDate"
                  }}
                </div>
                <div class="p-2 bd-highlight">
                  <strong>ProjectAccess:</strong>&nbsp;{{ user.project }}
                </div>
              </div>
            </div>
            <div class="d-flex flex-row bd-highlight mb-1">
              <div class="p-2 bd-highlight">
                <button type="button" (click)="resetPass(user.id)" class="btn btn-info btn-sm">
                  Reset Password
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
