<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-newton-cradle"
      [fullScreen]="true"
    >
    </ngx-spinner>
    <div class="col-12">
      <h2>Request ID :&nbsp;{{ requestbyid.id }}</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ requestbyid.title }} |&nbsp;&nbsp; Status:&nbsp;
            <span class="badge badge-primary">
              {{ requestbyid.status | titlecase }}
            </span>
            <span class="card-subtitle ml-2">
              |&nbsp;&nbsp;Requested On:{{
                requestbyid.creationDate | date: "shortDate"
              }}</span
            >
          </h5>
          <hr />
          <!--Flex Row 1 - Project, Module, Priority-->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <strong>Project:&nbsp;</strong
              >{{ requestbyid.project.projectName | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Module:&nbsp;</strong>{{ requestbyid.module.moduleName }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <strong>Priority:&nbsp;</strong
              >{{ requestbyid.priority | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Justification:&nbsp;</strong
              >{{ requestbyid.justification }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <div class="alert alert-dismissible alert-secondary">
                <strong>Requiements :&nbsp;</strong
                >{{ requestbyid.requierment }}
              </div>
            </div>
          </div>
          <hr />

          <!--Flex Row 3 - Attachment Conditional-->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <strong>Attachment:&nbsp;</strong
              ><a
                *ngIf="requestbyid.attachmentUrl"
                href="{{ requestbyid.attachmentUrl }}"
                target="_blank"
                >{{ requestbyid.attachmentTitle }}</a
              >
              <p *ngIf="!requestbyid.attachmentUrl">No Attachments</p>
            </div>
          </div>
          <hr />

          <!--Flex Row 4 - Efforts Conditional-->
          <div
            *ngIf="requestbyid.effort"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Estimated Efforts:&nbsp;</strong
              >{{ requestbyid.effort.estimation }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Work Breakdown:&nbsp;</strong
              ><a href="{{ requestbyid.effort.wbsUrl }}" target="_blank">WBS</a>
            </div>
            <div class="p-2 bd-highlight">
              <strong>Efforts Submitted On:&nbsp;</strong
              >{{ requestbyid.effort.submittedDate | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.effort" />

          <!--Flex Row 5 - Approval Conditional-->
          <div
            *ngIf="requestbyid.approval"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Final Efforts:&nbsp;</strong
              >{{ requestbyid.approval.finalEfforts }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Approved By:&nbsp;</strong
              >{{ requestbyid.approval.approver }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>UAT Required:&nbsp;</strong
              ><span *ngIf="requestbyid.approval.uat">Yes</span>
              <span *ngIf="!requestbyid.approval.uat">No</span>
            </div>
            <div class="p-2 bd-highlight">
              <strong>Approved On:&nbsp;</strong
              >{{ requestbyid.approval.approvalDate | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.approval" />

          <!--Flex Row 6 - Timeline Conditional-->
          <div
            *ngIf="requestbyid.timeline"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Planned Timelines:&nbsp;</strong
              >{{ requestbyid.timeline.plannedDate | date: "mediumDate" }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Submitted On:&nbsp;</strong
              >{{ requestbyid.timeline.updatedOn | date: "mediumDate" }}
            </div>
          </div>
          <hr />

          <!--Flex Row 7 - Release Conditional-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <h5>
                <strong>Release/ Production Movement Update&nbsp;</strong>
              </h5>
              <form #effortForm="ngForm" (ngSubmit)="updateRelease()">
                <div class="form-row mt-3">
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="Select Release Date"
                      #datepickerMDY="bsDatepicker"
                      name="plannedDate"
                      bsDatepicker
                      [minDate]="minDate"
                      [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                      [(ngModel)]="model.releaseDate"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <p>
                    Please Upload the Work Break Down for this request with
                    Total Estimated Efforts mentioned
                  </p>
                  <div class="col-6">
                    <label
                      class="custom-file-label"
                      name="attachment"
                      for="attachment"
                    >
                      <span *ngIf="!fileSelected">No Attachment</span>
                      <span *ngIf="fileSelected">{{ fileSelected.name }}</span>
                    </label>
                    <input
                      type="file"
                      class="custom-file-input mt-3"
                      (change)="onChange($event)"
                      id="attachment"
                      name="attchment"
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <button
                      type="button"
                      [routerLink]="['/requests/status/new']"
                      class="btn btn-warning mt-3"
                    >
                      Back
                    </button>
                    <div class="btn-group" role="group">
                      <button
                        [disabled]="
                          !effortForm.valid ||
                          !fileSelected ||
                          requestInProgress
                        "
                        class="btn btn-success mt-3 ml-2"
                        type="submit"
                      >
                        Update Efforts
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--Flex Row Last : Back Button -->
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
