<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-newton-cradle"
      [fullScreen]="true"
    >
    </ngx-spinner>
    <div class="col-12" *ngIf="!requestbyid">
      <h2 *ngIf="!requestbyid">No Request Details Available</h2>
    </div>
    <div class="col-12" *ngIf="requestbyid">
      <h2>Request ID :&nbsp;{{ requestbyid.id }}</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            &nbsp;&nbsp; Title:&nbsp;{{ requestbyid.title }} |&nbsp;&nbsp; Status:&nbsp;
            <span class="badge badge-primary">
              {{ requestbyid.status | titlecase }}
            </span>
            <span class="card-subtitle ml-2">
              |&nbsp;&nbsp;Requested On:&nbsp;{{
                requestbyid.creationDate | date: "mediumDate"
              }}</span
            >
          </h5>
          <hr />
          <!--Flex Row 1 - Project, Module, Priority-->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <strong>Project:&nbsp;</strong
              >{{ requestbyid.project.projectName | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Module:&nbsp;</strong>{{ requestbyid.module.moduleName }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <strong>Priority:&nbsp;</strong
              >{{ requestbyid.priority | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Justification:&nbsp;</strong
              >{{ requestbyid.justification }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <div class="alert alert-dismissible alert-secondary">
                <strong>Requiements :&nbsp;</strong
                >{{ requestbyid.requierment }}
              </div>
            </div>
          </div>
          <hr />

          <!--Flex Row 3 - Attachment Conditional-->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <strong>Attachment:&nbsp;</strong
              ><a
                *ngIf="requestbyid.attachmentUrl"
                href="{{ requestbyid.attachmentUrl }}"
                target="_blank"
                >{{ requestbyid.attachmentTitle }}</a
              >
              <p *ngIf="!requestbyid.attachmentUrl">No Attachments</p>
            </div>
          </div>
          <hr />

          <!--Flex Row 4 - Efforts Conditional-->
          <div
            *ngIf="requestbyid.effort"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Estimated Efforts:&nbsp;</strong
              >{{ requestbyid.effort.estimation }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Work Breakdown:&nbsp;</strong
              ><a href="{{ requestbyid.effort.wbsUrl }}" target="_blank">{{requestbyid.effort.title}}</a>
            </div>
            <div class="p-2 bd-highlight">
              <strong>Efforts Submitted On:&nbsp;</strong
              >{{ requestbyid.effort.submittedDate | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.effort" />

          <!--Flex Row 5 - Approval Conditional-->
          <div
            *ngIf="requestbyid.approval"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Final Efforts:&nbsp;</strong
              >{{ requestbyid.approval.finalEfforts }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Approved By:&nbsp;</strong
              >{{ requestbyid.approval.approver }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Approved On:&nbsp;</strong
              >{{ requestbyid.approval.approvalDate | date: "mediumDate" }}
            </div>
             <div class="p-2 bd-highlight">
              <strong>Approvals:&nbsp;</strong
              ><a href="{{ requestbyid.approval.approvalMail }}" target="_blank">{{
                requestbyid.approval.title}}</a>
            </div>
          </div>
          <hr *ngIf="requestbyid.approval" />

          <!--Flex Row 6 - Timeline Conditional-->
          <div
            *ngIf="requestbyid.timeline"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Planned Timelines:&nbsp;</strong
              >{{ requestbyid.timeline.plannedDate | date: "mediumDate" }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Submitted On:&nbsp;</strong
              >{{ requestbyid.timeline.updatedOn | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.timeline" />

          <!--Flex Row 7 - UAT Conditional-->
          <div
            *ngIf="requestbyid.uat"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>UAT Start Date:&nbsp;</strong
              >{{ requestbyid.uat.startDate | date: "mediumDate" }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>UAT Sign off Date:&nbsp;</strong
              >{{ requestbyid.uat.signOffDate | date: "mediumDate" }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>UAT Signoff:&nbsp;</strong
              ><a href="{{ requestbyid.uat.uatApproval }}" target="_blank">{{
                requestbyid.uat.title
              }}</a>
            </div>
            <div class="p-2 bd-highlight">
              <strong>Updated On:&nbsp;</strong
              >{{ requestbyid.uat.updatedOn | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.uat" />

          <!--Flex Row 8 - Release Conditional-->
          <div
            *ngIf="requestbyid.release"
            class="d-flex flex-row bd-highlight mb-3"
          >
            <div class="p-2 bd-highlight">
              <strong>Release Date:&nbsp;</strong
              >{{ requestbyid.release.releaseDate | date: "mediumDate" }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Release Note:&nbsp;</strong
              ><a
                href="{{ requestbyid.release.releaseNoteUrl }}"
                target="_blank"
                >{{requestbyid.release.title}}</a
              >
            </div>
            <div class="p-2 bd-highlight">
              <strong>Submitted On:&nbsp;</strong
              >{{ requestbyid.release.updatedOn | date: "mediumDate" }}
            </div>
          </div>
          <hr *ngIf="requestbyid.release" />

          <!--Flex Row Last : Back Button 
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight"></div>
          </div>
          <h6 class="card-subtitle mb-2"></h6>
          <p class="card-text muted"></p>
          <button
            type="button"
            [routerLink]="['/requests']"
            class="btn btn-warning"
          >
            Back
          </button>-->
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
