<div class="container mt-3">
  <div class="row">
    <div class="col"></div>
    <div class="col-12">
      <h2>Request ID :&nbsp;{{ requestbyid.id }}</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ requestbyid.title }} |&nbsp;&nbsp; Status:&nbsp;
            <span class="badge badge-primary">
              {{ requestbyid.status | titlecase }}
            </span>
            <span class="card-subtitle ml-2">
              |&nbsp;&nbsp;Requested On:{{
                requestbyid.creationDate | date: "shortDate"
              }}</span
            >
          </h5>
          <hr />
          <!--Flex Row 1 - Project, Module, Priority-->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <strong>Project:&nbsp;</strong
              >{{ requestbyid.project.projectName | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Module:&nbsp;</strong>{{ requestbyid.module.moduleName }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <strong>Priority:&nbsp;</strong
              >{{ requestbyid.priority | titlecase }}
            </div>
            <div class="p-2 bd-highlight">
              <strong>Justification:&nbsp;</strong
              >{{ requestbyid.justification }}
            </div>
          </div>
          <hr />

          <!--Flex Row 2 - Requierments-->
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <div class="alert alert-dismissible alert-secondary">
                <strong>Requiements :&nbsp;</strong
                >{{ requestbyid.requierment }}
              </div>
            </div>
          </div>
          <hr />

          <!--Flex Row 3 - Attachment Conditional-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <strong>Attachment:&nbsp;</strong
              ><a
                *ngIf="requestbyid.attachmentUrl"
                href="{{ requestbyid.attachmentUrl }}"
                target="_blank"
                >{{ requestbyid.attachmentTitle }}</a
              >
              <p *ngIf="!requestbyid.attachmentUrl">No Attachments</p>
            </div>
          </div>
          <hr />

          <!--Flex Row 4 - Efforts Conditional-->
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
              <h5 mb-3><strong>Update Efforts&nbsp;</strong></h5>
              <form #effortForm="ngForm" (ngSubmit)="updateEfforts()">
                <div class="form-row">
                  <div class="col">
                    <label for="estimation">Total Effort Estimation</label>
                    <input
                      type="number"
                      name="estimation"
                      class="form-control"
                      placeholder="Enter Total Efforts"
                      [(ngModel)]="model.estimation"
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="wbsUrl">Upload WBS</label>
                    <input
                      type="url"
                      class="form-control"
                      name="wbsUrl"
                      placeholder="WBS Url"
                      [(ngModel)]="model.wbsUrl"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <button
                    type="button"
                    [routerLink]="['/requests/status/new']"
                    class="btn btn-warning mt-3">
                    Back
                  </button>
                    <div class="btn-group" role="group">
                    <button class="btn btn-success mt-3 ml-2" type="submit">
                      Update Efforts
                    </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--Flex Row Last : Back Button -->
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
