<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          New Request Form
        </div>
        <div class="card-body">
          <!--Card Body Starts-->
          <form #newRequestForm="ngForm" (ngSubmit)="addRequest()">
            <!--Project & Module Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="project">Project</label>
                <select class="custom-select" name="project" (change)="onChangeProject($event)"
                  [(ngModel)]="model.projectId"
                  required>
                  <option selected disabled value="">Select a Module</option>
                  <option *ngFor="let p of projects" value={{p.id}}>{{p.projectName}}</option>
                 </select>
              </div>
              <div class="col-md-6 mb-2">
                <label for="module">Module</label>
                <select
                  class="custom-select"
                  name="module"
                  required
                  [(ngModel)]="model.moduleId"
                  [disabled]="!moduleActive"
                >
                  <option selected disabled value="">Select a Module</option>
                  <option *ngFor="let m of modules" value={{m.id}}>{{m.moduleName}}</option>
                </select>
              </div>
            </div>

            <!--Title Row-->
            <div class="form-row">
              <div class="col-md-12 mb-2">
                <label for="title">Title</label>
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="model.title"
                  placeholder="Enter Request Title"
                  required
                />
              </div>
            </div>

            <!--Requiement Text Area Row-->
            <div class="form-row">
              <div class="col-md-12 mb-2">
                <label for="requierment">Detailed Requeiments</label>
                <textarea
                  class="form-control"
                  name="requierment"
                  rows="3"
                  required
                  [(ngModel)]="model.requierment"
                ></textarea>
              </div>
            </div>

            <!--Priority Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="priority">Priority</label>
                <select
                  class="custom-select"
                  name="priority"
                  required
                  [(ngModel)]="model.priority"
                >
                  <option selected disabled value="">Select Priority</option>
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
              </div>

              <div class="col-md-6 mb-2">
                <label for="justification">Justification</label>
                <input
                  type="text"
                  class="form-control"
                  name="justification"
                  [(ngModel)]="model.justification"
                />
              </div>
            </div>

            <!--Attachment Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="attachmentTitle">Attachment Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="attachmentTitle"
                  [(ngModel)]="model.attachmentTitle"
                />
              </div>

              <div class="col-md-6 mb-2">
                <label for="attachmentUrl">Attachment Url</label>
                <input
                  type="text"
                  class="form-control"
                  name="attachmentUrl"
                  required
                  [(ngModel)]="model.attachmentUrl"
                />
              </div>
            </div>

            <button class="btn btn-success" type="submit">Submit</button>
          </form>
          <!--Card Body Ends-->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
