<div class="container mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-header bg-dark text-white">
          New Request Form
        </div>
        <div class="card-body text-dark">
          <!--Card Body Starts-->
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0.8)"
            size="medium"
            color="#fff"
            type="ball-newton-cradle"
            [fullScreen]="true"
          >
          </ngx-spinner>
          <form #newRequestForm="ngForm" (ngSubmit)="newRequestForm.form.valid && addRequest()">
            <!--Project & Module Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="projectId">Project</label>
                <select
                  class="custom-select"
                  name="projectId"
                  #projectId="ngModel"
                  (change)="onChangeProject($event)"
                  [(ngModel)]="model.projectId"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && projectId.invalid }"
                  required
                >
                  <option selected disabled value="">Select a Module</option>
                  <option *ngFor="let p of projects" value="{{ p.id }}">{{
                    p.projectName
                  }}</option>
                </select>
                <div *ngIf="newRequestForm.submitted && projectId.invalid" class="invalid-feedback">
                  <div *ngIf="projectId.errors.required">Project is required</div>
              </div>
              </div>
              <div class="col-md-6 mb-2">
                <label for="moduleId">Module</label>
                <select
                  class="custom-select"
                  name="moduleId"
                  #moduleId="ngModel"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && moduleId.invalid }"
                  [(ngModel)]="model.moduleId"
                  required
                >
                  <option selected disabled value="">Select a Module</option>
                  <option *ngFor="let m of modules" value="{{ m.id }}">{{
                    m.moduleName
                  }}</option>
                </select>
                <div *ngIf="newRequestForm.submitted && moduleId.invalid" class="invalid-feedback">
                  <div *ngIf="moduleId.errors.required">Module is required</div>
              </div>
              </div>
            </div>

            <!--Title Row-->
            <div class="form-row">
              <div class="col-md-12 mb-2">
                <label for="title">Title</label>
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  #title="ngModel"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && title.invalid }"
                  [(ngModel)]="model.title"
                  placeholder="Enter Request Title"
                  required
                  minlength="10"
                  maxlength="70"
                />
                <div *ngIf="newRequestForm.submitted && title.invalid" class="invalid-feedback">
                  <div *ngIf="title.errors.required">Title is required</div>
                  <div *ngIf="title.errors.minlength">Title should be alteast 10 characters</div>
              </div>
              </div>
            </div>

            <!--Requiement Text Area Row-->
            <div class="form-row">
              <div class="col-md-12 mb-2">
                <label for="requierment">Detailed Requirements</label>
                <textarea
                  class="form-control"
                  name="requierment"
                  rows="3"
                  #requierment="ngModel"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && requierment.invalid }"
                  [(ngModel)]="model.requierment"
                  required
                ></textarea>
                <div *ngIf="newRequestForm.submitted && title.invalid" class="invalid-feedback">
                  <div>Requirements is required</div>
              </div>
              </div>
            </div>

            <!--Priority Row-->
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <label for="priority">Priority</label>
                <select
                  class="custom-select"
                  (change)="onChangePriority($event)"
                  name="priority"
                  #priority="ngModel"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && priority.invalid }"
                  [(ngModel)]="model.priority"
                  required
                >
                  <option selected disabled value="">Select Priority</option>
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
                <div *ngIf="newRequestForm.submitted && title.invalid" class="invalid-feedback">
                  <div>Select the Priority for this request</div>
              </div>
              </div>

              <div [hidden]="!isJustification" class="col-md-6 mb-2">
                <label for="justification">Justification</label>
                <input
                  type="text"
                  class="form-control"
                  name="justification"
                  #justification="ngModel"
                  [ngClass]="{ 'is-invalid': newRequestForm.submitted && justification.value== null && justification }"
                  [(ngModel)]="model.justification"
                />
                <div *ngIf="newRequestForm.submitted && justification.value== null && justification" class="invalid-feedback">
                  <div>The Justification for this request</div>
              </div>
              </div>
            </div>

            <hr />

            <!--Attachment Row-->
            <div class="form-row">
              <p>
                Please Upload the BRD of the Requierment in this word format
                <a href="../IBM - CBR_Template.doc" target="_blank"
                  >(BRD Template)</a
                >
              </p>
              <div class="col-6">
                <label
                  class="custom-file-label"
                  name="attachment"
                  for="attachment"
                >
                  <span *ngIf="!fileSelected">No Attachment</span>
                  <span *ngIf="fileSelected">{{ fileSelected.name }}</span>
                </label>
                <input
                  type="file"
                  class="custom-file-input mt-3"
                  (change)="onChange($event)"
                  id="attachment"
                  name="attchment"
                />
              </div>
            </div>
            <button
              [disabled]="requestInProgress"
              class="btn btn-success"
              type="submit"
            >
              Submit
            </button>
          </form>
          <!--Card Body Ends-->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<!--Refrence for Template Validation https://jasonwatmore.com/post/2019/06/15/angular-8-template-driven-forms-validation-example-->
